body {

    background-color: url();
}

div {

    background-color: aqua;
    border-color: red;
    border-width: 5px;
    border-style: dotted;
}

p {

    color: darkmagenta ;
}
span {

    background-color: beige;
    color: black;

}
