<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project </title>
    <link rel="stylesheet" href="{% static 'css/myStyle.css' %}"/>
</head>
<body>
        <h1>Disign woking !!</h1>
        <img src="{% static 'images/img1.jpg' %}" >
</body>
</html>